/* CSS Document */
*{
	margin:0;
 	padding:0;
	box-sizing: border-box;
}	
html{
	background:  #F6FFEA;

}
/*HEADER---------------------------*/
body, html{
	 
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
body{
	min-height: 100vh;
	width: 100%;
}
.logo{
	
	/*margin: auto;
	margin-right: 20px;*/
	display: flex;
	align-items: center;
	height: auto;
	justify-content: center;
	width: 30%;
}
.logo img{
	width: 150px;
	height: 50px;
	margin: 10px 0 10px 0;
}
.header{
	background: #05301a;
	height: auto;
	/*height: 80px;*/
	width: 100%;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	padding: 0;
	position: fixed;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	z-index: 999;
	
}
.contador_carrito{
	font-size: 15px;
}
.contenedor{
	width: 95%;
	margin: auto;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;
	/*height: 80px;*/
	height: auto;
	margin-top: 15px;
	
}
.nav_menu_icons{
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu_icons{
	list-style: none;
	display: flex;
	
	padding: 0;
}
.menu_icons li{
	text-align: center;
	
}
.menu_icons li a{
	text-decoration: none;
	display: block;
	margin: 10px;
	padding: 5px;
	color: white;
	
	

}

.menu{
	list-style: none;
	display: flex;
	padding: 0;
	/*justify-content:center;
	align-items: center;*/
	justify-content: space-between;
}
.nav_menu{
	/*margin: auto;
	position: absolute;
	z-index: -1000;*/
	/*background: #6F84E4;*/
	/*display: flex;*/
	padding: 10px;
	height: 100%;
	margin-left: 20px;
	
	margin-top: 15px;
}

.menu li a{
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding: 0px 15px;
	color: white;
	margin: 0 10px 0 10px;
	cursor: pointer;
}



/*-----------------------------------*/
/*DETALLE CUENTA-------------------------------------*/
.detalle_cuenta{
	
	/*background: white;*/
	
	padding-top: 15px;
	padding-bottom: 0;
	
	position: absolute;
	display: none;
	
	height: auto;
	background: #05301a;
	box-sizing: border-box;
}
.detalle_cuenta .opciones_detalle_cuenta{
	list-style: none;
	padding: 0;
	height: auto;
}
.detalle_cuenta .opciones_detalle_cuenta .nombre_usuario{
	color:#fff;
	font-weight: bolder;
}
.detalle_cuenta .opciones_detalle_cuenta .op-dc{
	color: black;
	height: 100%;
}
.detalle_cuenta .opciones_detalle_cuenta .op-dc a{
	color: #fff;
}
.detalle_cuenta .opciones_detalle_cuenta .op-dc:hover{
	background: #084E2A;
}

/*DESCRIPCION PRODUCTO----------------------------------------------------*/
.main_descrip{
	padding-top: 150px;
	margin-bottom: 100px;
}
.descripcion-content{
	margin: auto;
	width: 80%;
	padding: 0;
	margin-bottom: 80px;
	margin-top: 30px;
}
.descripcion{
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	height: 450px;
	
}
.descripcion .img-produc{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.descripcion .img-produc img{
	max-width: 90%;
}
.descripcion .contenido-descrip{
	width: 60%;
	background: #f1efef;
	padding: 0px 20px 0px 20px;
	
}

.descripcion .contenido-descrip p{
	margin-top: 30px;
}
.descripcion .contenido-descrip .nombre{
	font-size: 20px;
	font-weight: bold;
}
.descripcion .contenido-descrip .precio{
	font-size: 25px;
}
.descripcion .contenido-descrip .btn{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 20%;
}
.descripcion .contenido-descrip .btn button{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	background:#05301a;
	color: white;
	cursor: pointer;
	border:none;
}
.inputCant{
	width: 5%;
	text-align: center;
	border: none;
	background: transparent;
	color: black;
}
.btn_cant{
	background-color: rgb(7, 55, 99);
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
	 padding: 2px 12px 3px 12px;
	
    text-decoration: none;
}
/*PRODUCTOS RELACIONADOS*/
.slide-productos{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.slide-productos ul{
	padding: 0;
	display: flex;
	width: 200%;
	animation: cambio 16s infinite alternate;
	animation-timing-function: ease-out;
}
.slide-productos li{
	width: 20%;
	list-style: none;
	
	padding: 10px;
	margin: 10px;
	
	background: #fff; 
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.slide-productos li .pr-img,
.slide-productos li .pr-nombre,
.slide-productos li .pr-precio{
	text-align: center;
	margin-bottom: 15px;
}
.slide-productos li .pr-nombre a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.slide-productos li .pr-img{
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide-productos li .pr-precio{
	font-size: 20px;
}
.slide-productos img {
	max-width: 70%;
	max-height: 90%;
}
/*PARA PRODUCTOS RELACIONADOS MENORES A 4*/
.produc-relacionados-4{
	width: 20%;
	padding: 10px;
	margin: 10px;
	background: #fff; 
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pr-img, .pr-nombre, .pr-precio{
	text-align: center;
	margin-bottom: 15px;
}
.pr-nombre a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}
.pr-img{
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pr-precio{
	font-size: 20px;
}
.pr-img img{
	max-width: 70%;
	max-height: 90%;
}
.no-produc-relacionados{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes cambio {
	0%{ margin-left: 0;}
	45%{ margin-left: 0;}
	/*segunda imagen*/
	50%{margin-left: -100%;}
	100%{margin-left: -100%;}

}
@media (min-width:800px){
	.logo{
		margin: auto;
		margin-right: 20px;
	}
	.nav_menu{
		display: none;
	}
}
@media (min-width:1200px){
	.contenedor{
		width: 80%;
		
	}
	.logo{
		margin: 0;
		margin-right: 20px;
	}
	.logo img{
		width: 200px;
	}
	.nav_menu_icons{
		display:none;
	}
	.nav_menu{
		display: flex;
	}

	.detalle_cuenta .nombre_usuario{
		display: none;
	}
	.detalle_cuenta{
		padding-top: 25px;
	}

	.detalle_cuenta .opciones_detalle_cuenta .op-dc{
		padding: 10px;
		text-align: center;
	}
	.descripcion-content{
		width: 80%;
	}
	
}
@media(min-width:1320px){
	
}
@media (min-width:1600px){
	.contenedor{
		width: 65%;
	}
	.descripcion-content{
		width: 70%;
	}
}
